#root {
  margin: 0 0;
  padding: 2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body,
html {
  height: 100vh;
  height: 100svh;
  width: 100vw;
  overflow: hidden;
}

.markdown {
  h3 {
    font-weight: 600;
    font-size: var(--text-xl);

    &:not(:first-child) {
      margin-top: calc(var(--spacing) * 4);
    }
  }

  ol,
  ul {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
    list-style: circle;
    padding-left: calc(var(--spacing) * 6);
  }
  li {
    padding-left: calc(var(--spacing) * 1);
  }
  p {
    margin: calc(var(--spacing) * 2) 0;
  }
}
